//Body

* {
    margin: 0;
    padding: 0;
}

body {
        font-family: Poppins, sans-serif;
        font-size: 1rem;
        letter-spacing: .4px;
        color: #666;
      }
      

// Header

.container {
    margin-right: 20px;
    margin-left: 20px;
}

.header__top-row{
    display: flex;
    flex-flow: nowrap;
    height: 70px;
    width: 100%;
}

.header {
    height: 168px;
    width: 100%; 
    background-color: #ffffff;
    padding: 20px 0;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 22.85px;
    
}

    .header__logo {
        display: flex;
        order: 0;
        align-items: start;
        height: 70px;
        max-width: 100%;

        img {
            height: auto;
            max-width: 100%;
        }

    }
          
    .header__phone {
        display: flex;
        order: 1;
        height: 32px;
        width: 32px;          
        background: transparent;
        border: none; 
        cursor: pointer;
        
        
        img {
            height: auto;
            width: 100%;
        }
    }

    .header__hamburger {
        display: flex;
        order: 1;
  
        width: 56px;
        height: 56px;
        border-radius: 3px;
        background-color: #333645;
        border: 0;
        margin: 0;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: .15s;
        transition-timing-function: linear;
        
        img {
            height: 56px;
            width: 56px;
            
        }
        
    }

.header__xs-search-bar {
    display: block;   
    align-content: center;
    width: 100%;
    margin-left: 20px;
    
    
    
    .search-form {
        display: block;
        align-items: center;
        width: 100%;
        
           
    }

    #xs-input {
        display: block; 
        position: absolute;
        height: 47px;
        width: 100%;
        box-sizing: border-box;
        padding: 5px 40px 5px 15px;
        border: 2px solid rgba(0, 0, 0, .1);
        background-color: rgba(0, 0, 0, .1);
        outline: 1px solid hsla(0, 0, 100%, .2);
        
        top: 121px;
        left: 20px;
        
    }

    #xs-submit {
        position: relative;
        background: none;
        border: 0;
        width: 32px;
        height: 32px;
        padding: 0;
        border-left: none;
        cursor: pointer;
        top: 130px;
        
        
        
        
        
        
        

        img {
            width: auto;
            height: auto;
        }
    }

}



.header__search-button,
.header__contact,
.header__support,
.header__s-search-bar{
    display: none;
}





@media (min-width: 641px) {


.header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
 

  &__contact {
    display: flex;
    height: 56px;
    width: 141px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-size: 1.125rem;
    background-color: #84858f;
    padding: 5px 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        height: 23px;
        width: 23px;
        margin-right: 5px;
    }
  
}

  &__support {
    display: flex;
    height: 56px;
    width: 141px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-size: 1.125rem;
    background-color: #4183d7;
    padding: 5px 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        height: 23px;
        width: 23px;
        margin-right: 5px;
    }

    }

    &__header-logo {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;

    }
  
  
    &__header-phone {
        display: flex;
        align-items: center;
        justify-content: center; 
        

        img {
            height: 32px;
            width: 32px;
        }
    }

    &__hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #333645;

        img {
            height: 56px;
            width: 63px;
        }
    }



}
}


//Banner

//Main-------------------------

// Services

// Partners

// About

// News

// Clients

//Footer


