
html {
    width: 100%;
}



* {
    margin: 0;
    padding: 0;
}

//------------------------------------------------------------//
//------------------------------------------------------------//

//------------------------------------------------------------//
//------------------------Body--------------------------------//
//------------------------------------------------------------//

//------------------------------------------------------------//
//------------------------------------------------------------//

body {
        font-family: Poppins, sans-serif;
        font-size: 1rem;
        letter-spacing: .4px;
        color: #666;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
      }
 
//------------------------------------------------------------//
//------------------------------------------------------------//

//------------------------------------------------------------//
//------------------------Header------------------------------//
//------------------------------------------------------------//

//------------------------------------------------------------//
//------------------------------------------------------------//

.container {
    margin-right: 20px;
    margin-left: 20px;
}

.header__top-row{
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 70px;
    width: 100%;
}

.header {
    height: 168px; 
    width: 100%; 
    background-color: #ffffff;
    padding: 20px 0; 
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 22.85px;
    box-sizing: border-box; 
    .header__logo {
        display: flex;
        order: 1;
        align-items: center; 
        height: 70px;
        max-width: 100%;

        img {
            height: auto;
            max-width: 100%;
        }
    }
          
    .header__phone {
        display: flex;
        flex-shrink: 0;
        order: 2; 
        align-items: center;
        height: 32px;
        width: 32px;          
        background: transparent;
        border: none; 
        cursor: pointer;

        img {
            height: auto;
            width: 100%;
            
        }
    }

    .header__hamburger {
        display: flex;
        align-items: center ;
        order: 3; 
        width: 56px;
        height: 56px;
        border-radius: 3px;
        background-color: #333645;
        border: 0;
        margin: 0;
        cursor: pointer;
        transition: opacity .15s linear, filter .15s linear;
        
        img {
            height: 56px;
            width: 56px;
        }
    }
}

.header__xs-search-bar {
    position: relative;
    display: block; 
    box-sizing: border-box;  
    align-content: center;
    width: 100%;
    height: auto; 

    #xs-input {
        display: block;
        box-sizing: border-box; 
        position: absolute;
        height: 47px;
        width: 100%;
        padding: 5px 40px 5px 15px;
        border: 2px solid rgba(0, 0, 0, .1);
        background-color: rgba(0, 0, 0, .1);
        outline: 1px solid hsla(0, 0, 100%, .2);
        top: -10px;
    }
    
    .search-form{
        position: absolute;
        width: 100%;
        top: 20px;
    }

    #xs-submit {
        display: block;
        box-sizing: border-box;
        justify-content: flex-end;
        position: absolute;
        background: none;
        border: 0;
        width: 32px;
        height: 32px;
        padding: 0;
        cursor: pointer;
        left: calc(100% - 34px);
        

        img {
            width: 32px;
            height: 32px;
        }
    }
}

.header__search-button,
.header__contact,
.header__support,
.header__s-search-bar{
    display: none;
}


//------------------------------------------------------------//
//------------------------------------------------------------//

//------------------------------------------------------------//
//------------------------Nav Bar-----------------------------//
//------------------------------------------------------------//

//------------------------------------------------------------//
//------------------------------------------------------------//

.main-nav {
    display: none;
}

//------------------------------------------------------------//
//------------------------------------------------------------//

//------------------------------------------------------------//
//------------------------Carousel----------------------------//
//------------------------------------------------------------//

//------------------------------------------------------------//
//------------------------------------------------------------//

.carousel {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 550px;
    margin: 0;
    overflow: hidden;
  
  
    &__item {
      max-width: 100%;
      
  
      a {
        text-decoration: none;
        color: inherit;
      }
  
      img {
        display: block;
        width: 100%;
        margin: auto;
        height: 550px;
        object-fit: cover;
        
      }
    }
  
    &__caption {
      position: absolute;
      bottom: 20%;
      left: 10%;
      color: white;
  
      h2 {
        font-size: 2em;
      }
  
      p {
        font-size: 1.2em;
      }
    }

    &__dots {
        position: absolute;
        bottom: 20px; // Position it slightly above the bottom of the image
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px; // Spacing between dots
    
        .dot {
            width: 15px;
            height: 15px;
            background-color: rgba(255, 255, 255, 0.6);
            border-radius: 50%;
            cursor: pointer;
            transition: box-shadow 0.3s ease;
    
            &.active {
                box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8); // Halo effect
    
                &:hover {
                    background-color: rgba(255, 255, 255, 1);
                }
            }
    
            &:hover {
                background-color: rgba(255, 255, 255, 0.8); // Brighten on hover
            }
    
            &:active {
                box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8); // Halo effect on click
            }
        }
    }
}
 


//----------------------------------------------------------//
//----------------------------------------------------------//

//----------------------------------------------------------//
//------------------------Services--------------------------//
//----------------------------------------------------------//

//----------------------------------------------------------//
//----------------------------------------------------------//


.services {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    font-family: inherit;
    color: #333645;

    a {
        text-decoration: none;
        font-family: inherit;
        color: #333645;
    }

    &__h2-right {
        display: none;
    }
  
    &__card {
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
  
      .icon {
        font-size: 40px;
        margin-bottom: 15px;
      }
  
      h2 {
        font-size: 2.7rem;
        font-weight: 400;
        margin-top: -13px;
      }
  
      p {
        font-size: 16px;
        margin-bottom: 20px;
      }
  
      .read-more {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ffa500; // Example button color
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
  
        &:hover {
          background-color: darken(#ffa500, 10%);
        }
      }
    }
  
    @media (min-width: 768px) {
      & {
        grid-template-columns: repeat(2, 1fr);
      }

      &__h2-right {
        display: block;
      }

    }
  
    @media (min-width: 1024px) {
      & {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
  

//----------------------------------------------------------//
//----------------------------------------------------------//

//----------------------------------------------------------//
//------------------------Partners--------------------------//
//----------------------------------------------------------//

//----------------------------------------------------------//
//----------------------------------------------------------//



























@media (min-width: 641px) {


.header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
 

  &__contact {
    display: flex;
    height: 56px;
    width: 141px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-size: 1.125rem;
    background-color: #84858f;
    padding: 5px 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        height: 23px;
        width: 23px;
        margin-right: 5px;
    }
  
}

  &__support {
    display: flex;
    height: 56px;
    width: 141px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-size: 1.125rem;
    background-color: #4183d7;
    padding: 5px 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
        height: 23px;
        width: 23px;
        margin-right: 5px;
    }

    }

    &__header-logo {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;

    }
  
  
    &__header-phone {
        display: flex;
        align-items: center;
        justify-content: center; 
        

        img {
            height: 32px;
            width: 32px;
        }
    }

    &__hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #333645;

        img {
            height: 56px;
            width: 63px;
        }
    }



}
}


//Banner

//Main-------------------------

// Services

// Partners

// About

// News

// Clients

//Footer


