//Header

.header-items {
   width: 400px;
   height: 70px;
   display: flex;
   flex-wrap: wrap; 
   box-sizing: border-box; 
   max-width: 100%;
   border: 0; 
   background-color: $header-container;


   .logo {
    width: auto;
   } 

}