// Breakpoint Variables
$breakpoint-xs: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Media Queries

@mixin respond-min($breakpoint) {
    @if $breakpoint == sm {
      @media (min-width: 480px) { @content; }
    } @else if $breakpoint == md {
      @media (min-width: 768px) { @content; }
    } @else if $breakpoint == lg {
      @media (min-width: 992px) { @content; }
    } @else if $breakpoint == xl {
      @media (min-width: 1200px) { @content; }
    }
  }

  @mixin respond-max($breakpoint) {
    @if $breakpoint == sm {
      @media (max-width: 479.98px) { @content; }
    } @else if $breakpoint == md {
      @media (max-width: 767.98px) { @content; }
    } @else if $breakpoint == lg {
      @media (max-width: 991.98px) { @content; }
    } @else if $breakpoint == xl {
      @media (max-width: 1199.98px) { @content; }
    }
  }

  @mixin respond-md-lg {
    @media (min-width: $breakpoint-md) and (max-width: calc(#{$breakpoint-lg} - 0.02px)) {
      @content;
    }
  }

/*Button*/

@mixin button (
  $bg-color: #666,  
  $color: #fff,    
  $hover-bg-color: darken($bg-color, 10%), 
  $height: auto,
  $line: 35px,
  $padding: 5px 15px,
  $transform: uppercase,
  $font: 1.063rem,
  $radius: 3px,
  $white-space: normal,
  $cursor: pointer
  ) {
    background-color: $bg-color;
    color: $color;
    height: $height;
    line-height: $line;
    padding: $padding;
    text-transform: $transform;
    font-size: $font;
    border-radius: $radius;
    white-space: $white-space;
    cursor: $cursor;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    letter-spacing: .4px;

      &:hover {
        background-color: $hover-bg-color;
      }
}

/*Tooltip*/
@mixin tooltip($base: 70px, $height: 40px, $position: 50%, $color: #333645, $bg-color: #926fb1) {
  $b: $base; /*base length of tooltip triangle*/
  $h: $height; /*height of tooltip triangle*/
  $p: $position; /*x position of tooltip triangle*/ 
  $c: $color; 

  border-image: fill 0 conic-gradient($c 0 0);
  clip-path: polygon(
    0 100%, 
    0 0, 
    100% 0, 
    100% 100%,
    min(100%, $p + $b / 2) 100%,
    $p calc(100% + $h),
    max(0%, $p - $b / 2) 100%
  );
  color: #fff;
  padding: 20px;
  max-width: 280px;
  margin: 0 auto 50px;

   h3 {
    position: relative;
    font-size: 1.125rem;
    padding-bottom: 17px;
    margin: 0;
   }

   p {
    font-size: .8125rem;
    line-height: 1.375rem;
    margin-bottom: 0;
   }

   a {
    @include button($bg-color);
   }
}



