// Breakpoint Variables
$breakpoint-xs: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Media Queries

@mixin respond-min($breakpoint) {
    @if $breakpoint == sm {
      @media (min-width: 480px) { @content; }
    } @else if $breakpoint == md {
      @media (min-width: 768px) { @content; }
    } @else if $breakpoint == lg {
      @media (min-width: 992px) { @content; }
    } @else if $breakpoint == xl {
      @media (min-width: 1200px) { @content; }
    }
  }

  @mixin respond-max($breakpoint) {
    @if $breakpoint == sm {
      @media (max-width: 479.98px) { @content; }
    } @else if $breakpoint == md {
      @media (max-width: 767.98px) { @content; }
    } @else if $breakpoint == lg {
      @media (max-width: 991.98px) { @content; }
    } @else if $breakpoint == xl {
      @media (max-width: 1199.98px) { @content; }
    }
  }

  @mixin respond-md-lg {
    @media (min-width: $breakpoint-md) and (max-width: calc(#{$breakpoint-lg} - 0.02px)) {
      @content;
    }
  }

  //Buttons

  @mixin button(
  $padding: 5px 15px,
  $bg-color: #333645,
  $text-color: #fff,
  $border-color: transparent,
  $font-weight: 400,
  $font-size: 1.063rem,
  $line-height: 1.42857143,
  $border-radius: 3px,
  $hover-bg-color: darken($bg-color, 10%),
  $hover-text-color: $text-color,
  $icon-size: 16px,
  $icon-position: left, 
  $icon-margin: 8px
) {
  display: inline-block;
  margin-bottom: 0;
  font-weight: $font-weight;
  text-transform: uppercase; 
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid $border-color;
  white-space: nowrap;
  padding: $padding;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
  background-color: $bg-color;
  color: $text-color;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $hover-bg-color;
    color: $hover-text-color;
  }

  &:focus {
    outline: none;
  }


  // Icon styles
  i {
    font-size: $icon-size;
    @if $icon-position == left {
      margin-right: $icon-margin;  // Margin to the right for left-positioned icon
      margin-left: 0;              // No margin on the left
    }
    @else if $icon-position == right {
      margin-left: $icon-margin;   // Margin to the left for right-positioned icon
      margin-right: 0;             // No margin on the right
    }
  }
}
