//----------------------------------------------------------//
//----------------------------------------------------------//

//----------------------------------------------------------//
//------------------------Footer----------------------------//
//----------------------------------------------------------//

//----------------------------------------------------------//
//----------------------------------------------------------//  

footer {
    position: relative;
    padding: 27px 0 0 0;
    background-color: $footer-background;
    color: $font-white;
  
    a {
      color: $font-white;
      text-decoration: none;
    }
  
    h4 {
      font-size: 1rem;
      text-transform: uppercase;
      margin: 24px 0 26px;
    }
  
    .footer__top {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      padding: 0 15px 0;
  
      h4 {
        margin: 24px 0 26px;
      }
    }
    .footer__social-menu {
      display: block;
      width: auto;
  
      i {
        padding: 12px 22px 16px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 26px;
        text-decoration: none;
        text-align: center;
        color: $font-white;
        background-color: $footer-socials-background;
        cursor: pointer;

      }
  
      h4 {
        margin-bottom: 32px;
      }

    
    }

    .facebook > i:hover {
      background-color: $facebook-prim;
    }
    .linkedin > i:hover {
      background-color: $linkedin-prim;
    }
    .twitterx > i:hover {
      background-color: $twitter-prim;
    }
    .instagram > i:hover {
      background-color: $instagram-prim;
    }
  
    .footer__logo {
      img {
        width: 320px;
        vertical-align: middle;
        border: 0;
      }
    }
  
   .footer__socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
   }
   .footer__menu {
    margin: 0 20px;
    ul{
      list-style: none;
    }
    a:hover {
      text-decoration: underline;
    }  
  
   }
   .footer__locations {
    margin-bottom: 25px;
   }
  
  .footer__licence {
    // display: inline;
    height: 35px;
    width: 100%;
    padding: 10px 20px;
    background-color: $footer-background-licence;
  
    a:hover {
      text-decoration: underline;
    }
  
   }
  
  }