//------------------------------------------------------------//
//------------------------------------------------------------//

//------------------------------------------------------------//
//------------------------Header------------------------------//
//------------------------------------------------------------//

//------------------------------------------------------------//
//------------------------------------------------------------//


.header__top {
  background-color: $header-background;
  width: 100%;
  height: auto;
  padding: 20px 0; 
}

// Mobile Layout Grid
.header__content {
    display: grid;
    grid-template-columns: 1fr auto auto; /*Logo, Phone Icon, Burger Menu */
    grid-template-rows: auto auto; /*Search bar underneath*/
    gap: 0;
    align-items: center;
    height: auto;
    margin-bottom: 20px;
    
        //Netmatters Logo //
        .header__logo {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          max-width: 402px;
          align-self: center;
         

            img {
                height: auto;
                max-width: 100%;
            }
        }

        // Phone Button //
        .header__phone {                 
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          justify-self: end;
          color: #333645;
          font-size: 32px;
          height: 32px;
          width: 32px;
          margin-left: 15px;
          margin-bottom: 18px;
          background: transparent;
          border: none; 
          cursor: pointer;
        }

        // Burger Menu //
        .header__hamburger {
          grid-column: 3 / 4;
          grid-row: 1 / 2;
          justify-self: end;
          position: relative;
          margin-left: 20px;
          height: 56px;
          width: 63px;
          padding: 15px;
          border-radius: 3px; 
          background-color: #333645;
          color: #fff;
          border: 0;
          cursor: pointer;
          transition: opacity .15s linear, filter .15s linear;

           .line {
            display: block;
            position: absolute;
            width: 33px;
            height: 4px;
            margin: 0;
            background-color: #fff;
            transition: background-color .15s linear;

            &.top {
              top: 15px;
            }
            &.middle {
              top: 25px;
            }
            &.bottom {
              top: 35px;
            }
           }
          
            
        }

        // Mobile search bar //
        .header__xs-search-bar {
          grid-column: 1 / 4;
          grid-row: 2 / 3;
          width: 100%;
          justify-self: center;
          align-self: flex-start;
          margin-bottom: 25px;
          margin-top: 10px;
    
          .search-form {
          position: relative;
          width: 100%;
          }
    
          #xs-input {
              display: block;
              box-sizing: border-box; 
              position: absolute;
              height: 47px;
              width: 100%;
              padding: 5px 40px 5px 15px;
              font-size: 14px;
              line-height: 1.42857143;
              color: #555;
              background-color: rgba(0,0,0,.1);
              outline: 1px solid hsla(0,0%,100%,.2);
              border: 2px solid rgba(0,0,0,.1);
              transition: none;
              box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
              
              &:active, &:focus {
                box-shadow:0 0 3px #fff
              }
    
              &:-webkit-autofill,
              &:-webkit-autofill:active,
              &:-webkit-autofill:focus,
              &:-webkit-autofill:hover {
                -webkit-box-shadow: 0 0 0 30px #333645 inset !important;
                -webkit-text-fill-color:#fff;
                border:1px solid hsla(0,0%,100%,.1)
              }

              &::placeholder {
                color: #888;
                opacity: 1;
              }

      
          }
      
          #xs-submit {
              
              position: absolute;
              background: none;
              color: #333645;
              border: none;
              width: 32px;
              height: 32px;
              padding: 0;
              cursor: pointer;
              right: 5px;
              line-height: 47px;
              
              i {
                font-size: 20px;
                line-height: 0;
              }   
          }
        }

        // Hide other elements //
        .header__support,
        .header__contact,
        .header__s-search-bar,
        .header__m-search-btn {
          display: none; 
        }
}
    



  

// s/m search bar/button, contact and support buttons initially hidden. //
    @media (max-width: 768px) {
      .header__search-button,
      .header__contact,
      .header__support,
      .header__s-search-bar,
      .header__m-search-btn {
          display: none !important;
      }


    }

//--------------------------//
//-768px - 991px Breakpoint-//
//--------------------------//

@media (min-width: 768px) and (max-width: 991px) {
 
.header__xs-search-bar,
.header__contact,
.header__support,
.header__phone,
.header__m-search-btn {
  display: none !important;
}  

.header__s-search-bar {
  
  display: flex;
  order: 1;
  flex-shrink: 1;
  height: 56px;
  margin-left: 20px;
  
  .search-form {
    display: flex;
  }

  .input {
    display: flex;
    height: 56px;
    overflow: hidden;
    width: 175px;
    border-right: none;
    padding: 5px 15px;
    border-color: $search-form-border;
    font-size: 14px;
    color: $search-form-text;
  }

  #s-submit {
    display: flex !important;
    background-color: $search-btn;
    height: 56px;
    width: 63px;
    justify-self: flex-end;
    justify-content: center;
    align-content: center;
    outline: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    
    &:hover {
      background-color: $search-btn-hover;
    }
    
    i {
      font-size: 23px;
      color: $font-white;
      padding: 15px 15px;
    }  
  }
 }

 .header__hamburger {
  display: flex;
  justify-self: flex-end;
 }

}

//---------------------------//
//-992px - 1259px Breakpoint-//
//---------------------------//

@media (min-width: 992px) and (max-width: 1259px){

  .header__s-search-bar,
  .header__xs-search-bar,
  .header__phone {
    display: none;
  }


  .header__contact {
    display: flex;
    height: 56px;
    width: 141px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: $header-button;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-size: 1.125rem;
    background-color: $contact-btn;
    padding: 5px 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: $contact-btn-hover;
    }

        i {
            height: 23px;
            width: 23px;
            margin-right: 5px;
        }
  
    }

    .header__support {
      display: flex;
      height: 56px;
      width: 141px;
      border: 1px solid transparent;
      border-radius: 3px;
      color: $header-button;
      text-transform: uppercase;
      letter-spacing: .4px;
      font-size: 1.125rem;
      background-color: $support-btn;
      padding: 5px 15px;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background-color: $support-btn-hover;
      }

        i {
            height: 23px;
            width: 23px;
            margin-right: 5px;
        }

    }

    .header__m-search-btn {

      display: flex !important;
      background-color: $search-btn;
      height: 56px;
      width: 63px;
      justify-content: center;
      align-content: center;
      outline: none;
      border-radius: 3px;
      cursor: pointer;
      
      &:hover {
        background-color: $search-btn-hover;
      }
      
      i {
        font-size: 23px;
        color: $font-white;
        padding: 15px 15px;
      } 

    }
}

//---------------------------//
//----1260px Breakpoint------//
//---------------------------//

@media (min-width: 1260px) {

  .header__m-search-btn,
  .header__phone,
  .s-submit,
  .header__xs-search-bar {
    display: none !important;
  }
  
  .header__contact {
    display: flex;
    height: 56px;
    width: 141px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: $header-button;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-size: 1.125rem;
    background-color: $contact-btn;
    padding: 5px 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: $contact-btn-hover;
    }

        i {
            height: 23px;
            width: 23px;
            margin-right: 5px;
        }
  
    }

    .header__support {
      display: flex;
      height: 56px;
      width: 141px;
      border: 1px solid transparent;
      border-radius: 3px;
      color: $header-button;
      text-transform: uppercase;
      letter-spacing: .4px;
      font-size: 1.125rem;
      background-color: $support-btn;
      padding: 5px 15px;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background-color: $support-btn-hover;
      }

        i {
            height: 23px;
            width: 23px;
            margin-right: 5px;
        }

    }

    .header__s-search-bar {
  
      display: flex;
      order: 1;
      flex-shrink: 1;
      height: 56px;
      margin-left: 20px;
      
      .search-form {
        display: flex;
        
      }
    
      .input {
        display: flex;
        height: 56px;
        overflow: hidden;
        width: 175px;
        border-right: none;
        padding: 5px 15px;
        border-color: $search-form-border;
        font-size: 14px;
        color: $search-form-text;
      }
    
      #s-submit {
        display: flex !important;
        background-color: $search-btn;
        height: 56px;
        width: 63px;
        justify-self: flex-end;
        justify-content: center;
        align-content: center;
        outline: none;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
        
        &:hover {
          background-color: $search-btn-hover;
        }
        
        i {
          font-size: 23px;
          color: $font-white;
          padding: 15px 15px;
        }  
      }
     }

  }


