//------------------------------------------------------------//
//------------------------------------------------------------//

//------------------------------------------------------------//
//------------------------Header------------------------------//
//------------------------------------------------------------//

//------------------------------------------------------------//
//------------------------------------------------------------//


.header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: $header-background;
    padding: 20px 0; 
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 22.85px;
    box-sizing: border-box; 
    .header__logo {
        display: flex;
        justify-self: flex-start;
        align-items: center; 
        height: 70px;
        max-width: 100%;

        img {
            height: auto;
            max-width: 100%;
        }
    }

    .header__content {
      display: flex;
      flex-flow: nowrap;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
      height: 150px;
      width: 100%;
    }
          
    .header__phone {                 
      
        display: flex;
        flex-shrink: 0;
        order: 1; 
        align-items: center;
        color: #333645;
        font-size: 32px;
        height: 32px;
        width: 32px;
        margin-left: auto; 
        margin-top: 20px;    
        background: transparent;
        border: none; 
        cursor: pointer;
    }

    .header__hamburger {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        order: 2;
        justify-self: flex-end;
        align-items: center;
        justify-content: center;
        align-content: center;
        height: 56px;
        width: 65px;
        padding: 5px 15px;
        border-radius: 3px; 
        background-color: #333645;
        color: #fff;
        border: 0;
        cursor: pointer;
        transition: opacity .15s linear, filter .15s linear;
        
        i {
          font-size: 52px;  
        }
    }

    // <768px search bar. //

    .header__xs-search-bar {
      position: absolute;
      display: flex; 
      order: -1;
      align-self: center;
      width: calc(100% - 40px);
      height: auto;
      margin-bottom: 20px; 
  
      #xs-input {
          display: block;
          box-sizing: border-box; 
          position: absolute;
          height: 47px;
          width: 100%;
          padding: 5px 40px 5px 15px;
          border: 2px solid rgba(0, 0, 0, .1);
          background-color: rgba(0, 0, 0, .1);
          outline: 1px solid hsla(0, 0, 100%, .2);
          top: -10px;
      }
      
      .search-form{
          position: absolute;
          width: 100%;
          top: 20px;
      }
  
      #xs-submit {
          display: block;
          box-sizing: border-box;
          justify-content: flex-end;
          position: absolute;
          background: none;
          border: 0;
          width: 32px;
          height: 32px;
          padding: 0;
          cursor: pointer;
          left: calc(100% - 34px);
          
          i {
            font-size: 20px;
            line-height: 0;
          }   
      }
    }
// <768px search bar/button, contact and support buttons initially hidden. //
@media (max-width: 768px) {
.header__search-button,
.header__contact,
.header__support,
.header__s-search-bar,
.header__m-search-btn {
    display: none !important;
}
}
//------------------------//
//-768px - 990 Breakpoint-//
//------------------------//

@media (min-width: 768px) and (max-width: 990px) {
 
.header__xs-search-bar,
.header__contact,
.header__support,
.header__phone,
.header__m-search-btn {
  display: none !important;
}  

.header__s-search-bar {
  
  display: flex;
  order: 1;
  flex-shrink: 1;
  height: 56px;
  margin-left: 20px;
  
  .search-form {
    display: flex;
    
  }

  .input {
    display: flex;
    height: 56px;
    overflow: hidden;
    width: 175px;
    border-right: none;
    padding: 5px 15px;
    border-color: $search-form-border;
    font-size: 14px;
    color: $search-form-text;
  }

  #s-submit {
    display: flex !important;
    background-color: $search-btn;
    height: 56px;
    width: 63px;
    justify-self: flex-end;
    justify-content: center;
    align-content: center;
    outline: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    
    &:hover {
      background-color: $search-btn-hover;
    }
    
    i {
      font-size: 23px;
      color: $font-white;
      padding: 15px 15px;
    }  
  }
 }

 .header__hamburger {
  display: flex;
  justify-self: flex-end;
  
 }

}

//---------------------------//
//-991px - 1259px Breakpoint-//
//---------------------------//

@media (min-width: 991px) and (max-width: 1259px){

  .header__s-search-bar,
  .header__xs-search-bar,
  .header__phone {
    display: none;
  }


  .header__contact {
    display: flex;
    height: 56px;
    width: 141px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: $header-button;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-size: 1.125rem;
    background-color: $contact-btn;
    padding: 5px 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: $contact-btn-hover;
    }

        i {
            height: 23px;
            width: 23px;
            margin-right: 5px;
        }
  
    }

    .header__support {
      display: flex;
      height: 56px;
      width: 141px;
      border: 1px solid transparent;
      border-radius: 3px;
      color: $header-button;
      text-transform: uppercase;
      letter-spacing: .4px;
      font-size: 1.125rem;
      background-color: $support-btn;
      padding: 5px 15px;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background-color: $support-btn-hover;
      }

        i {
            height: 23px;
            width: 23px;
            margin-right: 5px;
        }

    }

    .header__m-search-btn {

      display: flex !important;
      background-color: $search-btn;
      height: 56px;
      width: 63px;
      justify-content: center;
      align-content: center;
      outline: none;
      border-radius: 3px;
      cursor: pointer;
      
      &:hover {
        background-color: $search-btn-hover;
      }
      
      i {
        font-size: 23px;
        color: $font-white;
        padding: 15px 15px;
      } 

    }
}

//---------------------------//
//----1260px Breakpoint------//
//---------------------------//

@media (min-width: 1260px) and (max-width: 1600px) {

  .header__m-search-btn,
  .header__phone,
  .s-submit,
  .header__xs-search-bar {
    display: none !important;
  }
  
  .header__contact {
    display: flex;
    height: 56px;
    width: 141px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: $header-button;
    text-transform: uppercase;
    letter-spacing: .4px;
    font-size: 1.125rem;
    background-color: $contact-btn;
    padding: 5px 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: $contact-btn-hover;
    }

        i {
            height: 23px;
            width: 23px;
            margin-right: 5px;
        }
  
    }

    .header__support {
      display: flex;
      height: 56px;
      width: 141px;
      border: 1px solid transparent;
      border-radius: 3px;
      color: $header-button;
      text-transform: uppercase;
      letter-spacing: .4px;
      font-size: 1.125rem;
      background-color: $support-btn;
      padding: 5px 15px;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background-color: $support-btn-hover;
      }

        i {
            height: 23px;
            width: 23px;
            margin-right: 5px;
        }

    }

    .header__s-search-bar {
  
      display: flex;
      order: 1;
      flex-shrink: 1;
      height: 56px;
      margin-left: 20px;
      
      .search-form {
        display: flex;
        
      }
    
      .input {
        display: flex;
        height: 56px;
        overflow: hidden;
        width: 175px;
        border-right: none;
        padding: 5px 15px;
        border-color: $search-form-border;
        font-size: 14px;
        color: $search-form-text;
      }
    
      #s-submit {
        display: flex !important;
        background-color: $search-btn;
        height: 56px;
        width: 63px;
        justify-self: flex-end;
        justify-content: center;
        align-content: center;
        outline: none;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
        
        &:hover {
          background-color: $search-btn-hover;
        }
        
        i {
          font-size: 23px;
          color: $font-white;
          padding: 15px 15px;
        }  
      }
     }

  }


}