//----------------------------------------------------------//
//----------------------------------------------------------//

//----------------------------------------------------------//
//------------------------Accreditations--------------------//
//----------------------------------------------------------//

//----------------------------------------------------------//
//----------------------------------------------------------//


.accreditations {
    height: 70px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin: 100px 0 50px;
  }

  .accreditations__row {
    display: flex;
    width: 150%; 
    
   img {
    width: auto;
    height: 70px;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
  }
  
    img:hover {
    filter: grayscale(0%);
    animation-play-state: paused;
    cursor: pointer;
  }
    
}