//----------------------------------------------------------//
//----------------------------------------------------------//

//----------------------------------------------------------//
//------------------------Clients---------------------------//
//----------------------------------------------------------//

//----------------------------------------------------------//
//----------------------------------------------------------//  


.clients {
    height: 70px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    margin: 50px 0;
    padding: 0 20px;
  
  }
  
.clients__row {
  display: flex;
  align-items: center; 
  

  .slick-slide {
    margin: 0 50px;
    display: flex;
    align-content: center;
    justify-content: space-between;
   
  }
 
   img {
    position: relative;
    max-width: 200px;
    max-height: 70px;
    margin: 0;
    padding: 0;
    filter: grayscale(100%);
    transition: filter 0.05s ease;
  }
  
    img:hover {
    filter: grayscale(0%);
    animation-play-state: paused;
    cursor: pointer;
  }
  
  }

.clients__item {
  .tooltip {
    @include tooltip;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 2000;
    overflow: visible;
  }
}
  