//----------------------------------------------------------//
//----------------------------------------------------------//

//----------------------------------------------------------//
//------------------------Services--------------------------//
//----------------------------------------------------------//

//----------------------------------------------------------//
//----------------------------------------------------------//

.services {
    display: grid;
      box-sizing: border-box;
      gap: 20px;
      padding: 20px;
      font-family: inherit;
      color: $services-font;
    
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
  
      @media (min-width: 1260px) {
          grid-template-columns: repeat(3, 1fr); 
        }
    
      a {
        text-decoration: none;
        font-family: inherit;
        color: $services-font;
        background: transparent;
      }
  
      &__h2--left {
        font-size: 43px !important;
        display: grid;
        order: -1;
      }
  
      &__h2--right {
        display: grid;
        place-items: center;
        order: 1; 
        font-size: 1.625rem;
        font-weight: 600;
        text-decoration-style: solid;
        
        &:hover {
          text-decoration: underline;
        }
  
      }
    
      &__card {
        display: grid;
        order: 0;
        background-color: $services-background;
        border-radius: 15px;
        box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
        padding: 30px;
        text-align: center;
        transition: 0.5s;
        font-weight: 600;
  
        .icon {
          display: block;
          height: 65px;
          width: 65px;
          margin: 0 auto;
          place-items: center;
          border-radius: 50%;
          
        }
  
        i {
          font-size: 32px;
          
        }
  
    
        .read-more {
          height: 47px;
          
          padding: 5px 15px;
          
          display: inline-block;
          box-sizing: border-box;
          align-items: center;
          justify-items: center;
          justify-content: center;
          align-content: center;
          color: $font-white;
          text-decoration: none;
          text-align: center;
          border: 1px solid transparent;
          border-radius: 3px;
          font-size: 17px;
          font-weight: 400;
          text-align: center;
          text-transform: uppercase;
          transition: 0.5s ease;
          
         
  
        
        }
    
        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
          z-index: 1;
          color: $font-white;
    
          .read-more {
            background-color: $body-background;
            color: $font-white;
          }
        }
    
        
        &#software {
          .read-more {
            background-color: $software-yellow;
          }
  
          .icon {
            background-color: $software-prim;
          }
  
          i {
            color: $font-white;
          }
    
          &:hover {
            background-color: $software-prim;
          
          .read-more {
              background-color: $body-background;
              color: $software-prim;
          }
  
          .icon {
            background-color: $body-background;
          }
  
          i {
            color: $software-prim;
          }
          
          }
        }
    
        &#it {
          .read-more {
            background-color: $it-prim;
          }
  
          .icon {
            background-color: $it-prim;
          }
  
          i {
            color: $font-white;
          }
    
          &:hover {
            background-color: $it-prim;
            
            .read-more {
              background-color: $body-background;
              color: $it-prim;
          }
  
          .icon {
            background-color: $body-background;
          }
  
          i {
            color: $it-prim;
          }
          
          }
        }
    
        &#marketing {
          .read-more {
            background-color: $marketing-prim;
          }
  
          .icon {
            background-color: $marketing-prim;
          }
  
          i {
            color: $font-white;
          }
    
          &:hover {
            background-color: $marketing-prim;
            
            .read-more {
              background-color: $body-background;
              color: $marketing-prim;
          }
  
          .icon {
            background-color: $font-white;
          }
  
          i {
            color: $marketing-prim;
          }
          
          }
        }
    
        &#telecoms {
          .read-more {
            background-color: $telecoms-prim;
          }
  
          .icon {
            background-color: $telecoms-prim;
          }
  
          i {
            color: $font-white;
          }
    
          &:hover {
            background-color: $telecoms-prim;
          
            .read-more {
              background-color: $font-white;
              color: $telecoms-prim;
          }
  
          .icon {
            background-color: $font-white;
          }
  
          i {
            color: $telecoms-prim;
          }
          
          }
        }
    
        &#design {
          .read-more {
            background-color: $webdesign-prim;
          }
  
          .icon {
            background-color: $webdesign-prim;
          }
  
          i {
            color: $font-white;
          }
    
          &:hover {
            background-color: $webdesign-prim;
          
            .read-more {
              background-color: $font-white;
              color: $webdesign-prim;
          }
  
          .icon {
            background-color: $font-white;
          }
  
          i {
            color: $webdesign-prim;
          }
          
          }
        }
    
        &#security {
          .read-more {
            background-color: $cybersec-prim;
          }
  
          .icon {
            background-color: $cybersec-prim;
          }
  
          i {
            color: $font-white;
          }
    
          &:hover {
            background-color: $cybersec-prim;
              
            .read-more {
              background-color: $font-white;
              color: $cybersec-prim;
          }
  
          .icon {
            background-color: $font-white;
          }
  
          i {
            color: $cybersec-prim;
          }
         
          }
  
        }
    
        &#training {
          .read-more {
            background-color: $training-prim;
          }
  
          .icon {
            background-color: $training-prim;
          }
  
          i {
            color: $font-white;
          }
    
          &:hover {
            background-color: $training-prim;
          
            .read-more {
              background-color: $font-white;
              color: $training-prim;
          }
  
          .icon {
            background-color: $font-white;
          }
  
          i {
            color: $training-prim;
          }
         
         
          }
  
        }
        
  
      }
      
  
      .icon {
        font-size: 40px;
        margin-bottom: 15px;
      }
    
      h2 {
        font-size: 1.3rem;
        font-weight: 400;
        
      }
    
      p {
        font-size: 0.8125rem;
        font-weight: 400;
        margin-bottom: 13px;
      }
    }
    