// Colours

$dark-color: #121418;
$dark-var-1-color: #222933;
$dark-var-2-color: #292f37;
$dark-var-3-color: #8694a6;
$dark-var-4-color: #9dadc1;
$green-color: #01c29a;
$dark-green-color: #0ca385;
$yellowish-color: #f2e9d0;
$dark-yellowish-color: #d4ccb6;
$white-color: #fff;
$red-color: #ff0000;
$gradient: linear-gradient(45deg, var($green-color), var($red-color));


// Text
$header-button-text: #ffffff;
$header-searchbar-text: #555555;

// Body
$body-background: #ffffff;
$body-color: #666;

// Header
$header-container: #ffffff;
$header-fill: #666666;

// Service Bar
$service-bar-background: #333645;


// Buttons
$header-support-btn: #4183d7;
$header-contact-btn: #999aa2;
$header-search-btn: #999aa2;
$header-hamburger-btn: #333645;
$header-contact-btn-hover: #84858f;
$header-search-btn-hover: #7e808a;
$header-hamburger-btn-hover: #22242e;



//  Social Media Icons
$social-facebook-color              : #3b5998;
$social-linkedin-color              : #0077b5;
$social-twitter-color               : #00aced;
$social-instagram-color             : #d93175;

//  Service-specific Colours (These are used in the Nav bar, Service Cards, and the News Cards) 
$service-software                   : #67809f;
$service-software-dark              : #526781;
$service-it                         : #4183d7;
$service-it-dark                    : #2a6ec6;
$service-marketing                  : #2ecc71;
$service-marketing-dark             : #1a8c5d;
$service-telecoms                   : #d64541;
$service-telecoms-dark              : #ae3a35;
$service-webdesign                  : #926fb1;
$service-webdesign-dark             : #7e57a0;
$service-cybersec                   : #f62459;
$service-cybersec-dark              : #d91e4f;
$service-training                   : #ce4125;
$service-training-dark              : #a9321d;
$service-business                   : #db8c0d;
$service-business-dark              : #ab6d0a;