// Mixins

@mixin reset {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
    }

@mixin body {
    font-family: $font-primary;
    font-weight: $normal;
    font-size: 1rem;
    letter-spacing: .4px;
    color: #fff;
    background-color: #fff;
    margin: 0;
  }

@mixin container {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}
}


@mixin breakpoint-mobile {
        @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
          @content;
        }
       
      }

@mixin breakpoint-tablet {
    @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
        @content;
      }
    }


@mixin breakpoint-desktop {
    @media (min-width: #{$breakpoint-desktop}) {
        @content;
      }
    }